*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #F0F0F0;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.Cabecera h1{
    margin: 0;
    text-align: center;
}

main{
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding:  2rem;
}

.pie{
    color: #7F8C8D;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    
}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C3E50;
}

.imagen, img{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}

.lista-integrante ul{
    list-style: disc;
    padding-left: 20px;
}

.tabla-exitos table{
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

th{
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px;
}

td{
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

table, th, td{
    border: 1px solid #DDD;
}

a{
   color: #E74C3C;
   text-decoration: none;
   font-weight: bold;
}

a:hover{
    color: #C0392b;
}