/*Cuerpo de la página*/
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/*Cabecera*/
.cabecera{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.cabecera h1{
    margin: 0;
    font-size: 2em;
}

/*Menú de navegación*/
.menu-navegacion ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.menu-navegacion ul li{
    margin: 0 15px;
}

.menu-navegacion ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu-navegacion ul li a:hover{
    text-decoration: underline;
}

/*Pie de página*/
.pie{
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 40px;
    text-align: center;
}

/*Elemento que contiene los mapas*/
.contenedor-mapas{
    margin: 20px auto;
    max-height: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

/*Tarjeta de cada mapa*/
.mapas-card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mapas-card h2{
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-mapas .mapas-card:nth-child(1) h2{
    font-family: 'Roboto', sans-serif;
}

.contenedor-mapas .mapas-card:nth-child(3) h2{
    font-family: 'Montserrat', sans-serif;
}

.contenedor-mapas .mapas-card:nth-child(2) h2{
    font-family: 'Oswald', sans-serif;
}

.mapas-card img{
    width: 150px;
    height: auto;
    margin-left: 10px;
}

.mapas-card iframe{
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.descripcion{
    font-size: 1.1em;
    color: #555;
}

